body {
  font-family: monospace;
  background-color: #1f2a38;
  color: #00ffcc;
  padding: 25px; /* 20px + 25% */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.terminal-container {
  background-color: #2c3b4d;
  width: 33%; 
  padding: 25px;
  border-radius: 5px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}
h1{
  font-size: 32pt;
  color: #4d9dc3;
  text-align: left;
  margin-bottom: 18.75px;
}
h2 {
  font-size: 27.5pt; 
  color: #4d9dc3;
  text-align: left;
  margin-bottom: 18.75px;
}
.section {
  text-align: left;
}
.command {
  color: #a5a7a9; 
}
.section-content {
  margin-left: 25px;
}
a {
  color: #00ffcc;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
footer {
  text-align: center;
  margin-top: 25px;
  color: #4d9dc3;
}
